extends layout

block content
  h1= 'Skybet Test'
  form(method='POST' id='userForm' action='/user/save' )
    if error !== null
      h3=error
    input(type='hidden' name='_csrf' value='#{csrfToken}')
    table
      tr
        th First Name
        th Last Name
      each user in users
        tr
          td
            input(type='text' name='people[][firstname]' value='#{user.name}')
          td
            input(type='text' name='people[][surname]' value='#{user.surname}')

    input(type='submit' value='OK')
